$color: green;
$color2: red;
$color3: #FFADDD;
$color4: #61E17A;

h1, h2 {
  color: $color2;
  text-align: center;
}

//sets screens 992px or less to have color3 background
@media screen and (max-width: 992px) {
  #index-body {
    background-color: $color3;
  }
  #destiny-body {
    background-color: $color3;
  }
  #table-body {
    background-color: $color3;
  }
  #photos-body {
    background-color: $color3;
  }
}

//sets screens 600px or less to have color4 background
@media screen and (min-width: 600px) {
  #index-body {
    background-color: $color4;
  }
  #destiny-body {
    background-color: $color4;
  }
  #table-body {
    background-color: $color4;
  }
  #photos-body {
    background-color: $color4;
  }
}

#cadeImage {
  text-align: center;
  margin: 20px;
  background-color: $color;
}

%nbaimages {
  border: 1px solid black;
  padding: 10px;
  margin: auto;
}

#kareem {
  @extend %nbaimages;
}

#karl {
  @extend %nbaimages;
}

#lebron {
  @extend %nbaimages;
}

#kobe {
  @extend %nbaimages;
}

#michael {
  @extend %nbaimages;
}

%message {
  font-family: helvetica;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  padding: 25px;
  margin: 25px;
}

.secondary {
  @extend %message;
  background-color: yellow;
}

.warning {
  @extend %message;
  background-color: purple;
}

.info {
  @extend %message;
  background-color: cyan;
}

div {
  font-size: 20px;
  ul {
    color: green;
  }

  a {
    color: green;
  }

  p {
    color: blue;
    text-align: center;
  }

  #iron-banner {
    color: #C1790A;
  }
}

ol {
  font-size: 18px;
  color: $color;
}
